<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>newGis - sw2us.com</title>


<link rel="stylesheet" type="text/css" href="http://localhost:9001/ext-3.1.0/resources/css/ext-all.css" />
<!-- <link rel="stylesheet" type="text/css" href="/medias/ext-patch.css" />-->

<script type="text/javascript" src="http://localhost:9001/ext/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="http://localhost:9001/ext/ext-all.js"></script>
<link rel="stylesheet" href="http://localhost:9001/OpenLayers-2.8/theme/default/style.css" type="text/css" />
<link rel="stylesheet" href="http://localhost:9001/OpenLayers-2.8/examples/style.css" type="text/css" />
<script src="http://localhost:9001/OpenLayers-2.8/lib/OpenLayers.js"></script>
<script type="text/javascript" src="http://localhost:9001/GeoExt/lib/GeoExt.js"></script> 
<script type="text/javascript" src="/medias/newGis.js" ></script>

</head>

<body >
 
    <div id="mappanel" >
        <a id="hideit" href="#">Toggle the west region</a>
        
    </div>
    
 
</body>
</html>
