<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

<link rel="stylesheet" type="text/css" href="/medias/ext-3.1.0/resources/css/ext-all.css" />
<script type="text/javascript" src="/medias/ext-3.1.0/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/medias/ext-3.1.0/ext-all.js"></script>
<script type="text/javascript" src="/medias/json.js"></script>
</head>
<body>
<textarea name="" cols="" rows="4"></textarea>
<label>
<button id="ok">abc</button>
</label>
<p>
  <label>  </label>
  </p>
<p><img src="/medias/zack_sink.jpg" width="120" height="90" /></p>
</body>
</html>
